﻿@model ModernWeb.Models.RegisteredUser
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div id="cv" class="instaFade">
        <div class="mainDetails">
            <div id="headshot" class="quickFade">
                <img src="@Url.Content(Model.PersonalInfo.ImageURL)">
            </div>

            <div id="name">
                <h1 class="quickFade delayTwo">@Html.DisplayTextFor(m => m.PersonalInfo.FullName)</h1>
                <br />
                <h2 class="quickFade delayTwo">@Html.DisplayTextFor(m => m.Role.RoleName)</h2>
            </div>

            <div id="contactDetails" class="quickFade delayFour">
                <ul>
                    <li><strong>Ngày sinh: </strong>@Html.DisplayTextFor(m => m.PersonalInfo.DOB)</li>
                    <li><strong>Giới tính: </strong>@Html.DisplayTextFor(m => m.PersonalInfo.Sex.SexName)</li>
                    <li><strong>Số chứng minh: </strong>@Html.DisplayTextFor(m => m.PersonalInfo.IdentityCard)</li>
                    <li><strong>Địa chỉ: </strong>@Html.DisplayTextFor(m => m.PersonalInfo.Address)</li>
                    <li><strong>Điện thoại: </strong>@Html.DisplayTextFor(m => m.PersonalInfo.PhoneNumber)</li>
                    <li><strong>Email: </strong>@Html.DisplayTextFor(m => m.PersonalInfo.Mail)</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div id="mainArea" class="quickFade delayFive">
            <section>
                <div class="sectionTitle">
                    <h1>Thông tin ngân hàng</h1>
                </div>
                <br />
                <br />
                <div class="sectionContent">
                    <article>
                        <ul>
                            <li>
                                <strong>Số tài khoản:</strong>
                                @Html.DisplayTextFor(m => m.BankInfo.BankNumber)
                                <br />
                            </li>
                            <li>
                                <strong>Số dư:</strong>
                                @Html.DisplayTextFor(m => m.BankInfo.Balance) VNĐ
                                <br />
                            </li>
                            <li>
                                <strong>Xếp hạng tài khoản:</strong>
                                @Html.DisplayTextFor(m => m.BankInfo.VIPLevel.Priority)
                                <br />
                            </li>
                        </ul>
                    </article>
                </div>
                <div class="clear"></div>
            </section>
            <section>
                <div class="sectionTitle">
                    <h1>Thông tin tín dụng</h1>
                </div>
                <br />
                <br />
                <div class="sectionContent">
                    <article>
                        <dl>
                            @for (int i = 1; i <= Model.UserCreditCards.Count; i++)
                            {
                                <dd>
                                    <h2><strong>Thẻ tín dụng thứ @i</strong></h2>
                                    <br />
                                    <ul>
                                        <li>
                                            <strong>Loại thẻ:</strong>
                                            @Html.DisplayTextFor(m => m.UserCreditCards.ElementAt(@i - 1).CreditCard.Name)
                                        </li>
                                        <li>
                                            <strong>Loại thanh toán:</strong>
                                            @Html.DisplayTextFor(m => m.UserCreditCards.ElementAt(@i - 1).CreditCard.CardType)
                                        </li>
                                        <li>
                                            <strong>Số thẻ: </strong>
                                            @Html.DisplayTextFor(m => m.UserCreditCards.ElementAt(@i - 1).CardNumber)
                                        </li>
                                    </ul>
                                </dd>
                            }
                        </dl>
                    </article>
                </div>
                <div class="clear"></div>
                <hr />
            </section>
        </div>
</div>
