﻿@model ModernWeb.Models.RegisteredUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="@Url.Content("~/css/loginstyle.css")">
</head>
<body>
    <div class="container">
        <div id="login-form">
            <h3>Login</h3>
            <fieldset>
                @using (Html.BeginForm("Login", "Account", new { ReturnURL = ViewBag.ReturnURL }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    @*display login form*@
                    @Html.HiddenFor(u => u.RegisteredID)
                    <div>
                        <strong>@Html.LabelFor(u => u.Username)</strong>
                    </div>
                    <div>
                        @Html.EditorFor(u => u.Username)
                        @Html.ValidationMessageFor(u => u.Username)
                    </div>
                    <div>
                        <strong>@Html.LabelFor(u => u.Password)</strong>
                    </div>
                    <div>
                        @Html.EditorFor(u => u.Password)
                        @Html.ValidationMessageFor(u => u.Password)
                    </div>
                    <div>
                        <center>
                            <button type="submit" class="">Login</button>
                        </center>
                    </div>
                }
            </fieldset>
        </div> <!-- end login-form -->
    </div>
</body>
</html>