﻿@model IEnumerable<ModernWeb.Models.RemittanceRecord>

@{
    ViewBag.Title = "TransferHistory";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<h1>Lịch sử giao dịch chuyển tiền quốc tế</h1>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<style>
    table, th, td {
        border: 1px solid black;
    }
    table {
        width: 100%;
    border-collapse: collapse;
    }
</style>
<table class="generated_form form-template1" border="0" cellpadding="0" cellspacing="0" style="padding-left: 15px;">
    <tr>
        <th>Mã GD</th>
        <th>Ngày GD</th>
        <th>Lượng tiền chuyển khoản</th>
        <th>Lý do chuyển tiền</th>
        <th>Số tài khoản nhận</th>
        <th>Ngân hàng nhận</th>
        <th>Tình trạng</th>
    </tr>
    @foreach (var record in Model)
    {
        <tr>
            <td>@record.RemittanceID</td>
            <td>@record.RemittanceDate</td>
            <td><center>@record.FundsTransfer <strong>VNĐ</strong></center></td>
            <td>@record.RemittanceReason.TransferReason</td>
            <td>@record.ReceiverBankNumber</td>
            <td>@record.AssociatedBank.BankName</td>
            <td><center>@record.StatusTable.StatusName</center></td>
        </tr>
    }
</table>

        

