﻿@model ModernWeb.Models.RemittanceRecord
    @{
        ViewBag.Title = "TransferMoney";
        Layout = "~/Views/Shared/_LayoutAccount.cshtml";

        var associatedBank = new ModernWeb.Models.BankDBEntities().AssociatedBanks.Select(b => new SelectListItem { Value = b.AssociatedBankID.ToString(), Text = b.BankName });
        var reasonList = new ModernWeb.Models.BankDBEntities().RemittanceReasons.Select(r => new SelectListItem { Value = r.RemittanceReasonID.ToString(), Text = r.TransferReason });
    }

    @if (ViewBag.SuccessMessage != null)
    {
        <script>
            $(document).ready(function () {
                alert('@ViewBag.SuccessMessage');
            });
        </script>
    }
    @using (Html.BeginForm("TransferMoney", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.RemittanceID)
        @Html.HiddenFor(m => m.RegisteredID)
        @Html.HiddenFor(m => m.SenderBankNumber)
        @Html.HiddenFor(m => m.RemittanceDate)
        <h1>Chuyển tiền quốc tế</h1>
        <p>Quý khách vui lòng nhập đầy đủ thông tin theo các bước trong đơn đăng ký dịch vụ</p>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="clear"></div>
        <table class="generated_form form-template1" border="0" cellpadding="0" cellspacing="0" style="padding-left: 15px;">
            <tbody>
                <tr data-indentparagraph="False">
                    <td>
                        Tài khoản người nhận<span class="required" aria-required="true">*</span>
                    </td>
                    <td>
                        @Html.EditorFor(m => m.ReceiverBankNumber)
                    </td>
                </tr>


                <tr data-indentparagraph="False">
                    <td>
                        Số tiền<span class="required" aria-required="true">*</span>
                    </td>
                    <td>
                        @Html.EditorFor(m => m.FundsTransfer)
                    </td>
                </tr>


                <tr data-indentparagraph="False" class="">
                    <td>Ngân hàng thụ hưởng</td>
                    <td>
                        @Html.DropDownListFor(m => m.AssociatedBankID, new SelectList(associatedBank, "Value", "Text", "1"))
                    </td>
                </tr>
                <tr data-indentparagraph="False" class="">
                    <td>Lý do chuyển tiền</td>
                    <td>
                        @Html.DropDownListFor(m => m.RemittanceReasonID, new SelectList(reasonList, "Value", "Text", "1"))
                    </td>
                </tr>
                <tr>
                    <td valign="top"></td>
                    <td>
                        <input type="submit" class="button" value="Bước kế tiếp">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clear"></div>
        <div class="clear"></div>
    }



