﻿@model IEnumerable<ModernWeb.Models.AssigneeAdvisory>

    @{
        ViewBag.Title = "AdvisoryHistory";
        Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    }

    <h1>Lịch sử tư vấn đăng ký vay</h1>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
    <div>
        <table class="generated_form form-template1" border="0" cellpadding="0" cellspacing="0" style="padding-left: 15px;">
            <tr>
                <th>Mã GD</th>
                <th>Họ tên người đăng ký</th>
                <th>Nghề nghiệp</th>
                <th>Lý do đăng ký</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Mã NV</th>
                <th>Tình trạng</th>
            </tr>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.LoanRecordID</td>
                    <td>@record.LoanRecord.BorrowerRecord.Name</td>
                    <td><center>@record.LoanRecord.BorrowerRecord.Career</center></td>
                    <td>@record.LoanRecord.LoanReason.LendReason</td>
                    <td><center>@record.LoanRecord.BorrowerRecord.Phone</center></td>
                    <td><center>@record.LoanRecord.BorrowerRecord.Email</center></td>
                    <th><center>@record.RegisteredID</center></th>
                </tr>
            }
        </table>
    </div>