﻿@model IEnumerable<ModernWeb.Models.LoanRecord>

@{
    ViewBag.Title = "CheckLoanList";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<h1>Danh sách đăng ký vay vốn</h1>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<style>
    table, th, td {
        border: 1px solid black;
    }
    table{
        width:100%;
         border-collapse: collapse;
    }
</style>
<table class="generated_form form-template1" border="1" cellpadding="0" cellspacing="0" style="padding-left: 15px;">
        <tr>
            <th>Mã GD</th>
            <th>Họ tên người đăng ký</th>
            <th>Nghề nghiệp</th>
            <th>Lý do đăng ký</th>
            <th>Tình trạng hiện tại</th>
            <th></th>
        </tr>

        @foreach (var record in Model)
        {
            using (Html.BeginForm("GetLoanDetails", "Employee", new { id = @record.LoanRecordID }, FormMethod.Post))
            {
                <tr>
                    <td>@record.LoanRecordID</td>
                    <td>@record.BorrowerRecord.Name</td>
                    <td><center>@record.BorrowerRecord.Career</center></td>
                    <td>@record.LoanReason.LendReason</td>
                    <td><center>@record.StatusTable.StatusName</center></td>
                    <td><button type="submit" value="@record.LoanRecordID" name="GetLoanDetails">Chọn</button></td>
                </tr>
            }
        }
    </table>

