﻿@model ModernWeb.Models.LoanRecord

@{
    ViewBag.Title = "GetLoanDetails";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h1>Danh sách chuyển khoản chờ được duyệt</h1>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<style>
    table, th, td {
        border: 1px solid black;
    }
    table{
        width:100%;
         border-collapse: collapse;
    }
</style>
    <table class="generated_form form-template1" border="1" cellpadding="0" cellspacing="0" style="padding-left: 15px;">
        <tr>
            <th>Mã GD</th>
            <th>Họ tên người đăng ký</th>
            <th>Nghề nghiệp</th>
            <td>Số chứng minh</td>
            <th>Lý do đăng ký</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>@Model.LoanRecordID</td>
            <td>@Model.BorrowerRecord.Name</td>
            <td><center>@Model.BorrowerRecord.Career</center></td>
            <td><center>@Model.BorrowerRecord.IdentityCard</center></td>
            <td>@Model.LoanReason.LendReason</td>
            <td>@Model.BorrowerRecord.Address</td>
            <td><center>@Model.BorrowerRecord.Phone</center></td>
            <td><center>@Model.BorrowerRecord.Email</center></td>
        </tr>
        <tr>
            <th><center>Hình ảnh chứng thực</center></th>
        </tr>
        <tr>
            @foreach (var image in Model.LoanImages)
            {
                <td>
                    <a href="@Url.Content(image.ImageURL)" target="_blank">
                        <img src="@Url.Content(image.ImageURL)" width="100" height="120">
                    </a>
                </td>
            }
        </tr>
        }
    </table>
    <hr />
    <div>
        <form action="" method="post">
            <button type="submit" name="action:LoanInfoFailed" style="float:left">Thông tin không đáp ứng yêu cầu</button>
            <button type="submit" name="action:LoanInfoOK" style="float:right">Thông tin cung cấp thoả yêu cầu</button>
        </form>
    </div>