﻿@model ModernWeb.Models.RemittanceRecord

@{
    ViewBag.Title = "TransferFormChecking";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h1>Thông tin chi tiết chuyển khoản</h1>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<style>
    table, th, td {
        border: 1px solid black;
    }
    table{
        width:100%;
         border-collapse: collapse;
    }
</style>
<div>
    <table class="generated_form form-template1" border="1" cellpadding="0" cellspacing="0" style="padding-left: 15px;">
        <tr>
            <th>Mã GD</th>
            <th>Ngày GD</th>
            <th>Lượng tiền chuyển khoản</th>
            <th>Lý do chuyển tiền</th>
            <th>Số tài khoản nhận</th>
            <th>Ngân hàng nhận</th>
            <th>Tình trạng</th>
        </tr>
        <tr>
            <td>@Model.RemittanceID</td>
            <td>@Model.RemittanceDate</td>
            <td><center>@Model.FundsTransfer <strong>VNĐ</strong></center></td>
            <td>@Model.RemittanceReason.TransferReason</td>
            <td>@Model.ReceiverBankNumber</td>
            <td>@Model.AssociatedBank.BankName</td>
            <td><center>@Model.StatusTable.StatusName</center></td>
        </tr>
        <tr>
            <th><center>Hình ảnh chứng minh</center></th>
        </tr>
        <tr>
            @foreach (var image in Model.RemittanceImages)
            {
                <td>
                    <a href="@Url.Content(image.ImageURL)" target="_blank">
                        <img src="@Url.Content(image.ImageURL)" width="100" height="120">
                    </a>
                </td>
            }
        </tr>
    </table>
    <hr />
    <div>
        <form action="" method="post">
            <button type="submit" name="action:DenyTransfer" style="float:left">Huỷ giao dịch</button>
            <button type="submit" name="action:AllowTransfer" style="float:right">Cho phép giao dịch</button>
        </form>
    </div>
</div>