﻿@model IEnumerable<ModernWeb.Models.LoanRecord>

@{
    ViewBag.Title = "AdvisoryList";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<h1>Danh sách đăng ký vay đang chờ nhân tư vấn</h1>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<style>
    table, th, td {
        border: 1px solid black;
    }
    table {
        width: 100%;
    border-collapse: collapse;
    }
</style>
@*<div id="loanlist">*@
<table class="generated_form form-template1" border="1" cellpadding="0" cellspacing="0" style="padding-left: 15px;">
    <tr>
        <th>Mã GD</th>
        <th>Họ tên người đăng ký</th>
        <th>Nghề nghiệp</th>
        <th>Lý do đăng ký</th>
        <th>Số điện thoại</th>
        <th>Email</th>
        <th></th>
    </tr>

    @foreach (var record in Model)
    {
        using (Ajax.BeginForm("AcceptAdvisory", "Employee", new { id = @record.LoanRecordID }, new AjaxOptions() { UpdateTargetId = "loanlist" }))
        {
            <tr>
                <td>@record.LoanRecordID</td>
                <td>@record.BorrowerRecord.Name</td>
                <td><center>@record.BorrowerRecord.Career</center></td>
                <td>@record.LoanReason.LendReason</td>
                <td><center>@record.BorrowerRecord.Phone</center></td>
                <td><center>@record.BorrowerRecord.Email</center></td>
                <td><button type="submit" value="@record.LoanRecordID" name="AcceptAdvisory">Nhận tư vấn đăng ký này</button></td>
            </tr>
        }
    }
</table>


    
