﻿@model ModernWeb.Models.LoanRecord

@{
    ViewBag.Title = "ChooseTypeOfLoan";
    Layout = "~/Views/Shared/_LayoutLoanRegistration.cshtml";
}

@using (Html.BeginForm("SubmitType", "Loan", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.LoanRecordID)
    <h1>Chọn hình thức vay vốn</h1>
    <p>Quý khách vui lòng nhập đầy đủ thông tin theo các bước trong đơn đăng ký dịch vụ</p>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <table class="generated_form form-template1" border="0" cellpadding="0" cellspacing="0" style="padding-left: 15px;">
        <tbody>
            <tr data-indentparagraph="False">
                <td>
                    Lý do vay: <span class="required" aria-required="true">*</span>
                </td>
                <td>
                    @Html.DropDownListFor(m => m.LoanReasonID, ViewData["reasons"] as SelectList)
                </td>
            </tr>
            <tr>
                <td valign="top"></td>
                <td>
                    <input type="submit" class="button" value="Bước kế tiếp">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="clear"></div>
    <div class="clear"></div>
}