﻿@{
    Layout = "~/Views/Shared/_LayoutShowInfo.cshtml";
}

<div>
    @* info goes here *@
</div>
<div>
    <a href="@Url.Action("LoanRegistration", "Loan")" style="float:right">Đến trang đăng ký vay ngay</a>
</div>
