﻿@model  ModernWeb.Models.BorrowerRecord

@{
    ViewBag.Title = "PersonalInfoSubmit";
    Layout = "~/Views/Shared/_LayoutLoanRegistration.cshtml";
}


@using (Html.BeginForm("PersonalInfoSubmit", "Loan", FormMethod.Post, new { @class = "normal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.LoanRecordID)
    <h1>Thông tin vay vốn</h1>
    <p>Quý khách vui lòng nhập đầy đủ thông tin theo các bước trong đơn đăng ký dịch vụ</p>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <table class="generated_form form-template1" border="0" cellpadding="0" cellspacing="0" style="padding-left: 15px;">
        <tbody>
            <tr data-indentparagraph="False">
                <td>
                    Họ tên: <span class="required" aria-required="true">*</span>
                </td>
                <td>
                    @Html.EditorFor(m => m.Name)
                    <font color="red">@Html.ValidationMessageFor(m => m.Name)</font>
                </td>
            </tr>
            <tr data-indentparagraph="False">
                <td>
                    Số chứng minh thư: <span class="required" aria-required="true">*</span>
                </td>
                <td>
                    @Html.EditorFor(m => m.IdentityCard)
                    <font color="red">@Html.ValidationMessageFor(m => m.IdentityCard)</font>
                </td>
            </tr>
            <tr data-indentparagraph="False">
                <td>
                    Nghề nghiệp: <span class="required" aria-required="true">*</span>
                </td>
                <td>
                    @Html.EditorFor(m => m.Career)
                    <font color="red">@Html.ValidationMessageFor(m => m.Career)</font>
                </td>
            </tr>
            <tr data-indentparagraph="False">
                <td>
                    Địa chỉ cư trú: <span class="required" aria-required="true">*</span>
                </td>
                <td>
                    @Html.EditorFor(m => m.Address)
                    <font color="red">@Html.ValidationMessageFor(m => m.Address)</font>
                </td>
            </tr>
            <tr data-indentparagraph="False">
                <td>
                    Số điện thoại: <span class="required" aria-required="true">*</span>
                </td>
                <td>
                    @Html.EditorFor(m => m.Phone)
                    <font color="red">@Html.ValidationMessageFor(m => m.Phone)</font>
                </td>
            </tr>
            <tr data-indentparagraph="False">
                <td>
                    Email: <span class="required" aria-required="true">*</span>
                </td>
                <td>
                    @Html.EditorFor(m => m.Email)
                    <font color="red">@Html.ValidationMessageFor(m => m.Email)</font>
                </td>
            </tr>
            <tr>
                <td valign="top"></td>
                <td>
                    <input type="submit" class="button" value="Bước kế tiếp">
                </td>
            </tr>
        </tbody>
    </table>
}
