/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/
body {
	margin:0;
	background-color:#f4eded;
	font-family: 'AbelRegular';
	position:relative;
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
}
p {
	font-family:Arial, Helvetica, sans-serif;
}
p a {
	color:#5c3820!important;
	text-decoration:underline!important;
}
p a:hover {
	color:#995d36!important;
}
#background-green {
	background:url(../images/bg-green-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:100%;
	z-index:-1;
}
/*------------------------- Header -----------------------*/
.header {
	height:35px;
	overflow:hidden;
	margin:0;
	padding:30px 5px 0 18px;
}
.header p {
	float:left;
	color:#fff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-indent:2px;
	letter-spacing:.02em;
	margin:0;
}
.header ul {
	float:right;
	overflow:hidden;
	list-style:none;
	margin:-5px 0 0;
	padding:0;
}
.header ul li {
	float:left;
}
.header ul li a {
	color:#fff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-indent:2px;
	letter-spacing:.02em;
	text-decoration:none;
	border-left:1px solid #fff;
	padding:0 6px;
}
.header ul li:first-child a {
	border:0;
}
.header ul li a:hover {
	text-decoration:underline;
}
/*------------------------- Pages ------------------------*/
.page {
	width:960px;
	margin:0 auto;
}
.page .home-page {
	background:url(../images/bg-home.png) repeat-y right top;
	overflow:hidden;
	min-height:1440px;
}
.page .about-page {
	background:url(../images/bg-about.png) repeat-y right top;
	overflow:hidden;
	min-height:1440px;
}
.page .project-page {
	background:url(../images/bg-project.png) repeat-y right top;
	overflow:hidden;
	min-height:1440px;
}
.page .blog-page {
	background:url(../images/bg-blog.png) repeat-y right top;
	overflow:hidden;
	min-height:1440px;
}
.page .contact-page {
	background:url(../images/bg-contact.png) repeat-y right top;
	overflow:hidden;
	min-height:1440px;
}
/*------------------------- Fonts ------------------------*/
@font-face {
	font-family: 'AbelRegular';
	src: url('../fonts/abel-regular-webfont.eot');
	src: url('../fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/abel-regular-webfont.woff') format('woff'),  url('../fonts/abel-regular-webfont.ttf') format('truetype'),  url('../fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Sidebar ------------------------*/
.sidebar {
	float:left;
    background:url(../images/menu-background-right.jpg) no-repeat;
    background-size:cover;
    min-height:1440px;
}
.sidebar a#logo {
	display:block;
	margin:37px 0 0 18px;
}
.sidebar ul {
	list-style:none;
	margin:46px 0 0;
	padding:0;
}
.sidebar ul li {
	min-height:5px;
	margin-top:20px;
}
.sidebar ul li a {
	color:#fff;
	font-family:'Times New Roman';
	font-size:16px;
	letter-spacing:.04em;
	text-transform:uppercase;
	display:block;
	text-decoration:none;
	text-align:left;
	float:left;
}
.sidebar ul li.selected.home a, .sidebar ul li.selected.home:hover a {
	width:122px;
	background:url(../images/nav-icon.png) no-repeat 36px -56px #7b8846;
}
.sidebar ul li.home:hover a {
	width:114px;
	background:url(../images/nav-icon.png) no-repeat 33px -56px #7b8846;
}
.sidebar ul li.home a {
	width:114px;
	height:144px;
	background:url(../images/nav-icon.png) no-repeat 33px 45px #7b8846;
}
.sidebar ul li.selected.about a, .sidebar ul li.selected.about:hover a {
	width:122px;
	background:url(../images/nav-icon.png) no-repeat 36px -271px #cba200;
}
.sidebar ul li.about:hover a {
	width:114px;
	background:url(../images/nav-icon.png) no-repeat 33px -271px #cba200;
}
.sidebar ul li.about a {
	width:114px;
	height:144px;
	background:url(../images/nav-icon.png) no-repeat 33px -163px #cba200;
}
.sidebar ul li.selected.projects a, .sidebar ul li.selected.projects:hover a {
	width:122px;
	background:url(../images/nav-icon.png) no-repeat 36px -480px #c0ac66;
}
.sidebar ul li.projects:hover a {
	width:114px;
	background:url(../images/nav-icon.png) no-repeat 33px -480px #c0ac66;
}
.sidebar ul li.projects a {
	width:114px;
	height:144px;
	background:url(../images/nav-icon.png) no-repeat 33px -377px #c0ac66;
}
.sidebar ul li.selected.blog a, .sidebar ul li.selected.blog:hover a {
	width:122px;
	background:url(../images/nav-icon.png) no-repeat 38px -675px #aec066;
}
.sidebar ul li.blog:hover a {
	width:114px;
	background:url(../images/nav-icon.png) no-repeat 35px -675px #aec066;
}
.sidebar ul li.blog a {
	width:114px;
	height:144px;
	background:url(../images/nav-icon.png) no-repeat 35px -576px #aec066;
}
.sidebar ul li.selected.contact a, .sidebar ul li.selected.contact:hover a {
	width:122px;
	background:url(../images/nav-icon.png) no-repeat 37px -848px #528846;
}
.sidebar ul li.contact:hover a {
	width:114px;
	background:url(../images/nav-icon.png) no-repeat 33px -848px #528846;
}
.sidebar ul li.contact a {
	width:114px;
	height:144px;
	background:url(../images/nav-icon.png) no-repeat 33px -763px #528846;
}
.sidebar div.connect {
	position:absolute;
	bottom:0;
	margin:0 0 29px 57px;
}
.sidebar div.connect a {
	text-indent:-99999px;
	display:block;
}
.sidebar div.connect a#fb {
	background:url(../images/icons.png) no-repeat 0 0;
	width:26px;
	height:24px;
	margin-bottom:20px;
}
.sidebar div.connect a#fb:hover {
	background:url(../images/icons.png) no-repeat 0 -276px;
}
.sidebar div.connect a#twitter {
	background:url(../images/icons.png) no-repeat 0 -25px;
	width:26px;
	height:20px;
	margin-bottom:17px;
}
.sidebar div.connect a#twitter:hover {
	background:url(../images/icons.png) no-repeat 0 -301px;
}
.sidebar div.connect a#googleplus {
	background:url(../images/icons.png) no-repeat 0 -46px;
	width:26px;
	height:23px;
	margin-bottom:16px;
}
.sidebar div.connect a#googleplus:hover {
	background:url(../images/icons.png) no-repeat 0 -322px;
}
.sidebar div.connect a#youtube {
	background:url(../images/icons.png) no-repeat 0 -70px;
	width:26px;
	height:24px;
}
.sidebar div.connect a#youtube:hover {
	background:url(../images/icons.png) no-repeat 0 -346px;
}
/*------------------------- Body ------------------------*/
.body {
    font-family:'Times New Roman';
	float:left;
	padding:44px 0 0;
	position:relative;
	width:900px;
}