/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/
body {
	margin:0;
	background-color:#ce4718;
	font-family: 'Times New Roman';
	position:relative;
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
}
p {
	font-family:Arial, Helvetica, sans-serif;
}
p a {
	color:#5c3820!important;
	text-decoration:underline!important;
}
p a:hover {
	color:#995d36!important;
}
#background-white {
    background:#fff;
}
#background-green {
	background:url(../images/bg-green-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}
#background-yellow {
	background:url(../images/bg-yellow-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}
#background-lightyellow {
	background:url(../images/bg-lightyellow-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}
#background-lightgreen {
	background:url(../images/bg-lightgreen-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}
#background-green2 {
	background:url(../images/bg-green2-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}

@font-face {
	font-family: 'AbelRegular';
	src: url('../fonts/abel-regular-webfont.eot');
	src: url('../fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/abel-regular-webfont.woff') format('woff'),  url('../fonts/abel-regular-webfont.ttf') format('truetype'),  url('../fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*------------------------- Header -----------------------*/
.header {
	height:35px;
	overflow:hidden;
	margin:0;
	padding:30px 5px 0 18px;
}
.header p {
	float:left;
	color:#fff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-indent:2px;
	letter-spacing:.02em;
	margin:0;
}
.header ul {
	float:right;
	overflow:hidden;
	list-style:none;
	margin:-5px 0 0;
	padding:0;
}
.header ul li {
	float:left;
}
.header ul li a {
	color:#fff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-indent:2px;
	letter-spacing:.02em;
	text-decoration:none;
	border-left:1px solid #fff;
	padding:0 6px;
}
.header ul li:first-child a {
	border:0;
}
.header ul li a:hover {
	text-decoration:underline;
}