﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Online Bank System</title>
    <link rel="stylesheet" href="@Url.Content("~/css/showinfostyle.css")" type="text/css">
</head>
<body>
    <div class="header">
        <ul>
            <li>
                <a href="@Url.Action("Index", "Home")">Trang chủ</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Employee")">Trang nhân viên</a>
            </li>
            <li>

            </li>
        </ul>

    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
