﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" />
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta name="lang" content="vi" />
    <link href="@Url.Content("~/Content/css/screen.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/menu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/tcbfront-theme/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet" />
    <link href=@Url.Content("~/css/style_CV.css") rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/css/tcbfront-theme/jquery-ui-1.10.3.custom.min.css") />
    <script type="text/javascript" src=@Url.Content("~/Content/js/jquery/jquery-1.9.1.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/js/jquery/jquery-ui-1.10.3.custom.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/js/jquery/jquery.mousewheel.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/ckeditor/ckeditor.js")></script>
   <script type="text/javascript" src=@Url.Content("~/Content/js/global.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/js/jcarousellite_1.0.1.min.js")></script>
    <script src=@Url.Content("~/Content/js/promotion.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/js/jquery/jquery.nivo.slider.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Cache/17-B2-97-02-4A-C8-E4-14-E2-F1-A8-AA-CB-42-A0-B1.js")></script>
    <title>Modern Life Banking</title>
</head>
<body>
    <div class="header_wrap">
        <div class="header">
            <ul class="topmenu">
                <li><a>Mạng lưới & Địa điểm ATM</a></li>
                <li><a>FAQ</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                <li class="topmenulang"><a><img src=@Url.Content("~/content/images/flag_uk.gif") width="24" height="18" alt="English" /></a></li>
            </ul>
            <div class="clear"></div>
            <div class="searchbox"><p>Searchbox put here</p></div>
            <div class="hotline2">
                <span>HOTLINE</span>
                <strong>123456789</strong>
            </div>
            <a class="logo" href="@Url.Action("Index", "Home")" title="Modern Life Banking"></a>

        </div>
    </div>
    <div class="clear"></div>
    <div class="mainnav_wrap">
        <ul id="mainnav" class="mainnav">
            <li class="mnu-home"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li class="mnu-personal">
                <a class="dropnav">Kh&#225;ch h&#224;ng c&#225; nh&#226;n</a>
                <ul class="submenu">
                    <li class="submenu-left">
                        <h3>Giải pháp, sản phẩm và dịch vụ dành cho tài chính cá nhân</h3>
                        <ul>
                            <li>
                                <div class="submenu-icon"><img src=@Url.Content("~/Content/File/GetImage8c00.gif?id=343") alt="T&#224;i khoản" /></div>
                                <div class="submenu-text"><a href="@Url.Action("Details", "Account")">T&#224;i khoản</a></div>
                            </li>
                            <li>
                                <div class="submenu-icon"><img src=@Url.Content("~/Content/File/GetImageb9ce.gif?id=344") alt="Tiết kiệm" /></div>
                                <div class="submenu-text"><a href="#">Tiết kiệm</a></div>
                            </li>
                            <li>
                                <div class="submenu-icon"><img src=@Url.Content("~/Content/File/GetImage591b.gif?id=345") alt="Vay vốn" /></div>
                                <div class="submenu-text"><a href="@Url.Action("ChooseTypeOfLoan","Loan")">Vay vốn</a></div>
                            </li>
                            <li>
                                <div class="submenu-icon"><img src=@Url.Content("~/Content/File/GetImage0202.gif?id=348") alt="Chuyển &amp; Nhận tiền quốc tế" /></div>
                                <div class="submenu-text"><a href="@Url.Action("TransferMoney","Account")">Chuyển &amp; Nhận tiền quốc tế</a></div>
                            </li>
                            <li>
                                <div class="submenu-icon"><img src=@Url.Content("~/Content/File/GetImage7a5b.gif?id=350") alt="C&#225;c dịch vụ kh&#225;c" /></div>
                                <div class="submenu-text"><a href="#">C&#225;c dịch vụ kh&#225;c</a></div>
                            </li>
                            <li>
                                <div class="submenu-icon"><img src=@Url.Content("~/Content/File/GetImagead05.gif?id=351") alt="Chương tr&#236;nh ưu đ&#227;i" /></div>
                                <div class="submenu-text"><a href="#">Chương tr&#236;nh ưu đ&#227;i</a></div>
                            </li>
                        </ul>

                    </li>
                    <li class="submenu-right">
                        <h3>Bạn c&#243; biết?</h3>
                        <p>Bạn có thể rút tiền không cần thẻ với Techcombank ATM..</p>
                        <a href="mang-luoi-dia-diem-atm/tin-tuc/nhan-tien-khong-can-the-tai-may-atm-khi-chuyen-tien-tren-ngan-hang-truc-tuyen-fst-i-bank.html"><img src="file/get/1085.jpg" width="187" /></a>
                        <div class="readmoreAds">
                            <a href="mang-luoi-dia-diem-atm/tin-tuc/nhan-tien-khong-can-the-tai-may-atm-khi-chuyen-tien-tren-ngan-hang-truc-tuyen-fst-i-bank.html">Tìm hiểu thêm</a>

                        </div>

                    </li>

                </ul>
            </li>
            <li class="mnu-job"><a href="#" class="">Tuyển dụng</a></li>
            <li class="mnu-about">
                <a class="dropnav">Giới thiệu</a>
                <ul class="submenu aboutus">
                    <li class="submenu-left">
                        <h3>Tìm hiểu về ngân hàng chúng tôi</h3>
                    </li>
                    <li class="submenu-right">
                        <h3>Bạn c&#243; biết?</h3>
                        <p>
                            Ngân hàng đang cung cấp những dịch vụ ưu việt...<br />
                            <a href="#"><img height="24" width="100" alt="" src=@Url.Content("~/Content/images/Logo.jpg")></a>
                        </p>
                        <div class="readmoreAds"><a href="#">Tìm hiểu thêm</a></div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/css/style-atm-tearms-conditions.css") />
    <script type="text/javascript" src=@Url.Content("~/Content/js/jquery/jquery.superslides.js")></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#slides').superslides({
                animation: 'fade',
                play: 6000,
                inherit_width_from: '.page_wrap',
                inherit_height_from: '.page_wrap'
            });

        });
        /*	$(window).resize(function(){
                setTimeout(function(){
                    $("#slides").height($(".page").height());
                },500);
            });*/
    </script>
    <div class="page_wrap terms-conditions">
        <div class="page">
            <div class="column_left" style="">
                @{
                    ModernWeb.HelperClasses.DBHelper checker = new ModernWeb.HelperClasses.DBHelper();
                    int roleID = (int)Session["roleID"];
                    int registeredID = (int)Session["registeredID"];
                }
                @if (!checker.KiemTraDangNhap(registeredID))
                {
                    <div class="login_box" style="padding: 5px 0;">
                        <a class="button button_login_box" href="@Url.Action("Login", "Account")">ĐĂNG NHẬP</a>
                    </div>
                    <div class="caption gray">
                        <div class="arrow"></div>
                        <span class="icon_calc">
                            <img src=@Url.Content("~/Content/File/GetImagec7ed.png") />
                        </span>
                        <span>
                            <a href="@Url.Action("Services", "Home")">DỊCH VỤ</a>
                        </span>
                    </div>
                    <ul class="leftmenu">
                        <li><a href="@Url.Action("TransferMoney", "Account")">Chuyển tiền</a></li>
                        <li><a href="@Url.Action("ChooseTypeOfLoan", "Loan")">Vay vốn</a></li>
                        <li><a>Dịch vụ thanh toán dịch vụ</a></li>
                    </ul>
                }
                else
                {
                    <div class="login_box" style="padding: 5px 0;">
                        <a class="button button_login_box" href="@Url.Action("Logout", "Account")">ĐĂNG XUẤT</a>
                    </div>
                    <div class="caption gray">
                        <div class="arrow"></div>
                        <span class="icon_calc">
                            <img src=@Url.Content("~/Content/File/GetImaged443.gif") />
                        </span>
                        <span>
                            <a>TÀI KHOẢN</a>
                        </span>
                    </div>

                    <ul class="leftmenu">
                        <li><a href="@Url.Action("Details", "Account")">Thông tin</a></li>
                        <li><a href="#">Đổi mật khẩu</a></li>
                        @if (checker.KiemTraQuyen(roleID, 2) == true)
                        {
                            <li><a href="@Url.Action("Index", "Employee")">Trang nhân viên</a></li>}
                    </ul>
                    <div class="caption gray">
                        <div class="arrow"></div>
                        <span class="icon_calc">
                            <img src=@Url.Content("~/Content/File/GetImagec7ed.png") />
                        </span>
                        <span>
                            <a href="@Url.Action("Services", "Home")">DỊCH VỤ</a>
                        </span>
                    </div>
                    <ul class="leftmenu">
                        <li><a href="@Url.Action("TransferMoney", "Account")">Thực hiện chuyển tiền</a></li>
                        <li><a href="@Url.Action("TransferHistory", "Account")">Lịch sử chuyển tiền</a></li>
                        <li><a href="@Url.Action("ChooseTypeOfLoan", "Loan")">Vay vốn</a></li>
                    </ul>

                }

                <style type="text/css">
                    .leftmenu.newest li a {
                        padding: 8px 5px;
                        font-size: 12px;
                        text-align: justify;
                    }
                </style>
                <div class="caption">TIN TỨC</div>
                <ul class="leftmenu newest">
                    <li><a>Đặt tin ở đây...</a></li>
                </ul>
                <div class="caption-tool">
                    <span class="icon_calc"><img src=@Url.Content("~/Content/File/GetImage715c.png?id=433") /></span>
                    <a>C&#212;NG CỤ &amp; TIỆN &#205;CH</a>
                    <div class="expand-tools">
                        <img alt="Expand" src=@Url.Content("~/Content/images/leftmenu_arrow_gray.png")>
                    </div>
                </div>
                <ul class="toolUtilities active">
                    <li>
                        <div class="icon">
                            <img class="icon1" src=@Url.Content("~/Content/cache/339.png") alt="Tỷ gi&#225;" />
                            <img class="icon2" src=@Url.Content("~/Content/cache/373.png") alt="Tỷ gi&#225;" />
                        </div>
                        <div class="toolDescription"><a>Tỷ gi&#225;</a></div>
                    </li>
                    <li>
                        <div class="icon">
                            <img class="icon1" src=@Url.Content("~/Content/cache/340.png") alt="L&#227;i suất" />
                            <img class="icon2" src=@Url.Content("~/Content/cache/374.png") alt="L&#227;i suất" />
                        </div>
                        <div class="toolDescription"><a>L&#227;i suất</a></div>
                    </li>
                    <li>
                        <div class="icon">
                            <img class="icon1" src=@Url.Content("~/Content/cache/341.png") alt="Biểu ph&#237; dịch vụ" />
                            <img class="icon2" src=@Url.Content("~/Content/cache/375.png") alt="Biểu ph&#237; dịch vụ" />
                        </div>
                        <div class="toolDescription"><a>Biểu ph&#237; dịch vụ</a></div>
                    </li>
                    <li>
                        <div class="icon">
                            <img class="icon1" src=@Url.Content("~/Content/cache/342.png") alt="C&#244;ng cụ t&#237;nh to&#225;n" />
                            <img class="icon2" src=@Url.Content("~/Content/cache/376.png") alt="C&#244;ng cụ t&#237;nh to&#225;n" />
                        </div>
                        <div class="toolDescription"><a>C&#244;ng cụ t&#237;nh to&#225;n</a></div>
                    </li>
                    <li>
                        <div class="icon">
                            <img class="icon1" src=@Url.Content("~/Content/cache/1959.png") alt="Tra cứu chứng thư bảo l&#227;nh" />
                            <img class="icon2" src=@Url.Content("~/Content/cache/1960.png") alt="Tra cứu chứng thư bảo l&#227;nh" />
                        </div>
                        <div class="toolDescription"><a>Tra cứu chứng thư bảo l&#227;nh</a></div>
                    </li>
                </ul>

            </div>
            <div class="column_middle">
                @RenderBody()
                @RenderSection("script", required: false)
            </div>
        </div>
            <div id="slides" class="slides">
                <ul class="slides-container">
                    <li>
                        <a href="#" target="_blank" title="Chuyển tiền nhanh chóng" data-imageid="149">
                            <img src=@Url.Content("~/Upload/ImageSlider/captain.jpg") alt="Chuyển tiền nhanh chóng">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" title="Thủ tục vay vốn đơn giản" data-imageid="114">
                            <img src=@Url.Content("~/Upload/ImageSlider/hulk.jpg") alt="Thủ tục vay vốn đơn giản">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" title="Truy cập mọi lúc mọi nơi" data-imageid="123">
                            <img src=@Url.Content("~/Upload/ImageSlider/spider.jpg") alt="Truy cập mọi lúc mọi nơi">
                        </a>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
            $(document).ready(function () {
                $(".slides-container li a").click(function () {
                    var href = $(this).attr("href");
                    if (href != undefined && href != null && href != "" && href != "#") {
                        var id = $(this).data("imageid");
                        $.ajax({
                            url: "/ajax/clickgalleryimage?id=" + id,
                            type: "GET"
                        });
                        return true;
                    }
                });
            })
            </script>
            
        
    </div>
    <div class="footer_wrap">
        <div class="footer">
            <div class="social">
                <a href="https://www.youtube.com/" target="_blank"><img src=@Url.Content("~/content/images/icon_yt.gif") width="23" height="23" alt="Youtube" /></a>
                <a href="#" target="_blank"><img src=@Url.Content("~/content/images/icon_gplus.gif") width="23" height="23" alt="Google plus" /></a>
                <a href="https://www.facebook.com/" target="_blank"><img src=@Url.Content("~/content/images/icon_fb.gif") width="23" height="23" alt="Facebook" /></a>
                <span>Kết nối với ch&#250;ng t&#244;i</span>
            </div>
            <ul class="footnav">

                <a href="#">Sơ đồ trang</a>
                <a href="#">Li&#234;n hệ</a>
                <a href="#">Webmail</a>

            </ul>
            <div class="clear"> </div>
            <div class="copyright">@DateTime.Now.Month/@DateTime.Now.Year - AEP07 Team SAD7</div>
        </div>
    </div>
</body>
</html>
