﻿body{margin:0; font-family:Arial; font-size:12px; color:#333;}
.clear{clear:both;}
a{text-decoration:none; color:#333;}
a:hover{ color: #ED1C24}
img{border:0;}
.header_wrap{width:100%; height:104px; background:#FFF; text-align:center;}
.header{width:980px; margin:auto; padding:11px 0 0 0;}
.topmenu{ height:18px; line-height: 18px; list-style:none; padding:0; margin:0; float:right;}
.topmenu > li{float:left; height: 18px; font-size:12px; padding:0 0 0 8px; margin-left: 8px; border-left:1px #7f7f7f solid;}
/*.topmenu > li:first-child, .topmenu li:nth-child(2){border:none; padding-right:0px;}*/
    .topmenu > li:first-child {
        border: none;
    }
.topmenulang {
    border: none !important;
}

.topmenu > li a:hover{color:#ed1c24;}
.searchbox{float:right; background:#FFF; padding:3px 5px; border:1px #DDD solid; margin:24px 0 0 0; width:244px;}
.searchbox input{border:0; width:223px; height:20px; float:left; font-size:12px; font-family:Arial; color:#333;}
.searchbox input.inactive{color:#666;}
.searchbox a{display:block; float:right; background:url(../images/icon_search.gif); width:18px; height:19px; margin:1px 1px 0 0;}
.hotline1, .hotline2{float:right;  height:30px; padding:0 15px 0 13px; background:url(../images/sep1.gif) left center no-repeat; text-align:left; margin:25px 0 0 0;}
.hotline2{background:url(../images/icon_phone.gif) left center no-repeat; padding:0 15px 0 32px;}
.hotline1 span, .hotline2 span{color:#333;}
.hotline1 strong, .hotline2 strong{color:#ed1c24; display:block;}
.logo{float:left; display:block; background:url(../images/Logo.jpg); width:230px; height:55px; margin:4px 0 0 0;}
.mainnav_wrap{background:url(../images/mainnav_bg.gif) left bottom repeat-x #f5f5f5; border-top:1px #e2e2e2 solid; width:100%; height:52px;}
.mainnav{display:block; width:978px; height:50px; list-style:none; padding:0; text-align:center; margin:auto; background:url(../images/topmenu_bg.gif) left top repeat-y; padding:0 0 0 2px; }
.mainnav > li{display:block; float:left; font-size:16px; padding-right: 1px;  height:50px; background:url(../images/topmenu_bg.gif) right top repeat-y #f5f5f5; text-align:center;}
.mainnav >li > a{
    padding: 0 18px; height: 50px; line-height: 45px;  
    padding: 0 17px\9; /* hack css ie 8-> */
    border-left: solid 1px #fefefe;
}


    .mainnav > li:first-child a {
        background: url(../images/icon_home.png) no-repeat center 12px;
        text-indent: -99999px;
        width: 33px;
    }


 @media screen and (-webkit-min-device-pixel-ratio:0)
{
    .mainnav > li > a {
        padding: 0 19px;

    }
    .mainnav > li:first-child a {
        width: 26px;
    }
	
	
	
}


 /*------IE8-----------*/
/* hack css ie 8 */
@media \0screen {
    .mainnav > li > a {
        padding: 0 18px;
    
    }

}


/* hack css ie 9 & chrome */
:root .mainnav > li > a {
    padding: 0 15px;
    padding: 0 15px\0; /* hack css ie 8-> */
}

:root .mainnav > li:first-child a {
    width: 32px;
    width: 46px\0;
}

@-moz-document url-prefix() {
   :root .mainnav > li > a {
    padding: 0 16px;
 
    }
}


    .mainnav > li.current:first-child a {
        background: url(../images/icon_home_selected.png) no-repeat center 12px;
    }
    .mainnav > li.active:first-child a {
        background: url(../images/icon_home_selected.png) no-repeat center 12px;
    }

*+html .mainnav > li > a {
    padding: 0 18px;
}

    *+ html .mainnav > li:first-child > a {
        padding: 0 24px;
        width: 20px;
    }

@media all and (max-width: 1024px) {
    .mainnav > li > a {
        padding: 0 14px !important;
    }
}

 @media screen and (-webkit-min-device-pixel-ratio:0)
{
		/* Safari only override */
    ::i-block-chrome,.mainnav > li > a {
     padding: 0 15px;
    }
	
	::i-block-chrome,:root .mainnav > li:first-child a {
		width: 43px;
	}
}



.mainnav > li a, .mainnav li span{display:block; color:#333;}
.mainnav > li span{background:url(../images/arrow_gray.gif) top center no-repeat; height:8px; margin:3px 0 0 0; position: relative}
.mainnav > li a img{margin:12px 0 0 0;}
.mainnav > li.hover{background:url(../images/topmenu_bg.gif) right top repeat-y #fff;}
.mainnav > li.hover span{background:url(../images/arrow_red.gif) top center no-repeat;}
.mainnav > li.hover a{color:#ed1c24;}

.page_wrap{width:100%; text-align:center;}
.page{background:#FFF; width:978px; margin:auto; text-align:left; border:1px solid #dfdfdf; border-top:none; border-bottom:none; padding-bottom: 10px;}
.page:after{content:""; display:block; clear:both;}

.priority .page {padding-bottom: 0;}
.column_left{width:205px; float:left; margin: 7px 0 0 20px;}
.column_left .login_box{padding:15px 0px;font-size:15px; text-align:center; margin-top: 23px;}
.column_left .login_box div{padding:0 0 5px 0px;}
.column_left .caption{padding:1px 0 2px 0; font-size:13px; color:#333;  background:#CCCCCC; font-weight:700; margin: 21px 0 0 0; position:relative; display: table; width: 100%; text-align: center;line-height: 28px;}

.caption span {
    float: left;
    margin-left: 12px;
}

.column_left .caption.gray{background:#CCC;}
.column_left .caption .arrow{
    position: absolute;
    bottom: -7px;
    background:url(../images/caption_arrow.png) no-repeat 0 0;
    width: 11px;
    height: 7px;
    left: 93px;
}

/*.column_left .caption.arrow{padding:6px 0 0 0;}*/
/*.column_left .caption.arrow:after{content:""; display:block; background:url(../images/caption_arrow.gif) top center no-repeat #FFF; width:203px; height:7px; margin:6px 0 0 0; border-left:1px #e0dfdf solid; border-right:1px #e0dfdf solid;}*/


/*.column_left .caption.expand:before{content:""; float:right; display:block; background:url(../images/leftmenu_arrow_gray.png); width:10px; height:6px; margin:10px 10px 0 0;}*/
   .column_left .caption.expand {
        background:url(../images/leftmenu_arrow_gray.png) no-repeat 188px center #CCCCCC;

    }
.icon_pencil{display:inline-block;  no-repeat; width:22px; height:21px;}
.icon_calc{display:inline-block;  width:19px; height:22px; float: left; margin-top: 4px; display: table-cell; vertical-align: middle}
.column_left .caption .icon_pencil{padding:0 10px 0 0; margin:0 0 -3px 0; position: relative; top: 2px;}
.column_left .caption .icon_calc{padding:0 ; float: left; margin-left: 11px; margin-right: 0; position: relative;}

/*
.button{display:inline-block; background:url(../images/btn_red.png) left top no-repeat; height:28px; padding:0 8px 0 12px; line-height:28px; font-size:14px; color:#FFF; font-weight:700; text-align:left; width:112px;}
.button:hover{background:url(../images/btn_red2.png) left top no-repeat;}
.button:hover span:first-child{background:url(../images/btn_red_end2.png);}
.button.gray{background:url(../images/btn_gray.png) left top no-repeat; color:#333;}
.button.gray span:first-child{background:url(../images/btn_gray_end.png);}
.button.gray:hover{background:url(../images/btn_gray2.png) left top no-repeat;}
.button.gray:hover span:first-child{background:url(../images/btn_gray_end2.png);}
*/
/* red button */
.button span.icon_locked{display:inline-block; background:url(../images/icon_locked.png) 5px center no-repeat; height:28px; padding:0 0 0 30px;}
.button {
	/*-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;*/
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
    -ms-border-radius: 4px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:28px;
	line-height:28px;
	padding:0 15px;
	text-decoration:none;
	text-align:center;
	/*text-shadow:1px 1px 0px #810e05;*/
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
    color: #fff;
}
.button:active {
	position:relative;
	top:1px;
}
/* gray button */
.button.gray {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:28px;
	line-height:28px;
	padding:0 15px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.button.gray:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button.gray:active {
	position:relative;
	top:1px;
}

.button_login_box
{
	font-size: 13px;
	font-weight: bold;
	font-family: Helvetica;
	padding: 0 8px;
}

.priority .button {
    background:#c0151f;
    box-shadow: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

.contentButton {margin-top: 16px;}
.contentButton .button 
{font-size: 12px; margin-right: 7px; padding: 0 11px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
    border: 1px solid #DCDCDC;
    color: #777777;
    text-shadow: 1px 1px 0 #FFFFFF;
}
    .contentButton .button:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	    background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	    background-color:#c62d1f;
        border: 1px solid #D02718;
        color: #FFFFFF;
        text-shadow: 1px 1px 0 #810E05;
    }


.leftnav{padding:0; margin:0; list-style:none;}
.leftnav a{display:block; color:#333;}
.leftnav ul{display:none;} 
.leftnav > li > a{font-size:14px; padding:15px 13px 13px 10px; border-bottom:1px #e0dfdf solid; border-top:1px #fafafa solid;}
.leftnav > li.active > a, .leftnav > li.active > a:hover{background-color:#f7f7f7; color:#ed1c24; border-bottom-color:#e4171e;}
.leftnav > li.dropdown > a{ background:url(../images/leftmenu_arrow_gray.png) no-repeat 188px center;}
.leftnav > li.dropdown.active > a{background:url(../images/leftmenu_arrow_red.gif) no-repeat 188px center #f7f7f7;}
.leftnav > li > a:hover{background-color:#f7f7f7;}
.leftnav > li ul{margin:0; padding:0; list-style:none;}
.leftnav .submenu > a{font-size:12px; font-weight:700; padding:15px 15px 13px 20px; border-bottom:1px #e0dfdf dashed; color:#333; background:url(../images/bullet1.gif) 10px 21px no-repeat;}
.leftnav > li li a:hover{background:url(../images/bullet2.gif) 10px 21px no-repeat; color: #E4171E;}
.leftnav .submenu.active > a{background:url(../images/bullet2.gif) 10px 21px no-repeat; color: #ED1C24;}
.leftmenu{padding:0; margin:0; list-style:none;background-color: #FFFFFF;}
.leftmenu a{display:block; color:#333;}
.leftmenu > li > a{font-size:14px; padding:9px 0 9px 10px; border:1px #e0dfdf solid; border-top:none;}
.leftmenu > li:first-child a{padding:15px 0 13px 10px;}
.leftnav .submenu.dropdown{ background :url("../images/leftmenu_arrow_gray.png") no-repeat scroll 188px 20px;}
.leftnav .submenu li{padding-left: 10px;}
.leftnav .submenu.dropdown.active{background: url("../images/leftmenu_arrow_red.gif") no-repeat scroll 188px 20px;}
.leftnav .submenu li > a{
	background: url("../images/bullet1.gif") no-repeat scroll 10px 21px;
    border-bottom: 1px dashed #E0DFDF;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 13px 13px 20px;
}

.leftnav .submenu >  li.active a
{
	background: url("../images/bullet2.gif") no-repeat scroll 10px 21px;
	color: #ED1C24;
}
.leftnav .subchildmenu.dropdown
{
	 background :url("../images/leftmenu_arrow_gray.png") no-repeat scroll 188px 20px;
}

.leftnav .subchildmenu li{padding-left: 10px;}
.leftnav .subchildmenu.active{background: url("../images/leftmenu_arrow_red.gif") no-repeat scroll 188px 20px;}
.leftnav .subchildmenu  li.active a
{
	background: url("../images/bullet2.gif") no-repeat scroll 10px 21px;
	color: #ED1C24;
}

.leftnav .subchildmenu li > a{
	background: url("../images/bullet1.gif") no-repeat scroll 10px 21px;
    border-bottom: 1px dashed #E0DFDF;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 0 13px 20px;
}


.column_middle{width:712px; float:left; margin:25px 0 0 20px; overflow: hidden;}
.priority .column_middle {background-color: #F1F1F1; margin: 0; padding: 25px 17px 0; float: right;}
.bg1{background:url(../images/bg.jpg) top center repeat-x #ebebeb;}
.footer_wrap{width:100%; text-align:center; border-top:2px #ee474e solid; background:#f5f5f5; height:108px;}
.footer{width:980px; margin:auto; text-align:left;}
.footer .social{float:right; width:250px; height:23px; line-height:23px; margin:27px 0 0 0;}
.footer .social a{margin:0 0 0 15px; display:inline-block; float:right;}
.footer .footnav{float:left; display:block; padding:27px 0px 7px 0px; margin:0; border-bottom:1px #cacaca solid;}
.footer .footnav a{display:block; float:left; padding:0px 13px; border-left:1px #cacaca solid;}
.footer .footnav a:first-child{border:none; padding-left:0px;}
.footer .footnav a:hover{color:#ed1c24;}
.footer_wrap .copyright{float:left; padding:10px 0 0 0;}
.breadcrumb{list-style:none; margin:0; border-bottom:1px #cecece dashed; padding:0 0 7px 0; float: left; width: 720px;}
.breadcrumb li{display:block; float:left;}
.breadcrumb a{display:block; background:url(../images/breadcrumb_arrow.png) left center no-repeat; padding:0 10px 0 15px; font-size:12px; color:#333; line-height:20px;}
.breadcrumb a:hover{color:#ed1c24;}
.breadcrumb li:first-child a{background:none; padding:0 10px 0 0;}
.column_middle h1{padding:20px 15px 10px 0; margin:0; font-size:22px; font-weight:400; clear: both;}
.column_middle .slideshow{margin:0 0 18px 0; position: relative;}

.column_middle .list_description{width:430px; height:60px; float:right; font-size:12px; color:#333; line-height:20px;}

.column_middle .downloads{width:280px; height:60px; float:right; font-size:13px; font-weight:700; text-align:right;}
.column_middle .downloads .appstore{display:inline-block; background:url(../images/appstore.png); width:124px; height:37px; margin:10px 8px 0 0;}
.column_middle .downloads .androidmart{display:inline-block; background:url(../images/androidmart.png); width:144px; height:37px; margin:10px 0 0 0;}
.column_middle .slideshow img {width: 710px;}

.paging_options{float:left; width:150px; height:26px; line-height:26px; font-size:12px; color:#333; margin:15px 0 0 0;}
.paging_options select{border:1px #DDD solid; padding:3px; margin:0 0 0 10px;}
.paging{list-style:none; margin:15px 0 0 0; padding:0; float:right;}
.paging li{display:block; float:right;}
.paging a{display:block; padding:0 8px; line-height:26px; height:26px; color:#333; font-size:13px; background:#f2f2f2; margin:0 0 0 3px;}
.paging a.active, .paging a:hover{background:#e82a2c; color:#FFF;}
.content_footer{padding:10px 0 0 0; clear:both; border-top:1px #cecece dashed; margin:30px 0 0 0; height:50px;}
.content_footer a, .content_footer span{float:right; display:inline-block; margin-top: 2px;}
.content_footer a.button{margin:0 10px 0 0; float:left;}
.content_footer a.gototop{background:url(../images/icon_backhome.png) left center no-repeat; line-height:16px; height:16px; color:#333; padding:0 0 0 12px;}
.content_footer a.share_gplus{background:url(../images/icon_gplus.png); width:18px; height:16px; margin:0 25px 0 0;}
.content_footer a.share_fb{background:url(../images/icon_fb.png); width:16px; height:16px; margin:0 5px 0 10px;}
.content_footer a.print{background:url(../images/icon_print.png) right center no-repeat; height:19px; margin:0 25px 0 0; padding:0 30px 0 0; line-height:19px;}
.mask{background:#000; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; position:fixed; left:0px; top:0px; z-index:100;}
.popup{position:fixed; z-index:101; padding:15px; background:#FFF; border:2px #d71111 solid; display:none;}
.popup > .close{ display:block; background:url(../images/close.png); width:34px; height:33px; position:absolute; margin:-32px -21px 0 0; right:0px; z-index: 5;}
.popinner{overflow:hidden; position: relative;}
.popheader .close{float:right; display:block; background:url(../images/close.png); width:34px; height:33px; position:absolute; margin:-35px -21px 0 0; right:0px; z-index: 5;}
.popheader .close:hover{background:url(../images/close2.png);}
.promotion .popheader h2{margin:0 0 15px 0; font-size:18px;}
.promotion .popheader h2 span{font-size:13px; font-weight:400;}
.promotion .popheader h2 span a{color:#ed1c24; font-style:italic;}
.promotion .popup .right{width:435px; float:right; padding:0;}
.promotion .popup .right h3{font-size:16px; margin:0 0 10px 0;}
.promotion .popup .right ul{margin:17px 0 17px 15px; padding:0; list-style-image:url(../images/bullet3.gif);}
.promotion .popup .right ul li{line-height:20px;}
.promotion .popup .right ul strong{font-size:18px; color:#ed1c24;}
.promotion .popup .left{width:392px; float:left;}
.promotion .popup .left img{border:1px #cfcfcf solid;}
.promotion p{line-height:18px;}
.promotion_popup .popheader h2{margin:0 0 15px 0; font-size:18px;}
.promotion_popup .popheader h2 span{font-size:13px; font-weight:400;}
.promotion_popup .popheader h2 span a{color:#ed1c24; font-style:italic;}
.promotion_popup .right{width:435px; float:right; padding:0;}
.promotion_popup .right h3{font-size:16px; margin:0 0 10px 0;}
.promotion_popup .right ul{margin:17px 0 17px 15px; padding:0; list-style-image:url(../images/bullet3.gif);}
.promotion_popup .right ul li{line-height:20px;}
.promotion_popup .right ul strong{font-size:18px; color:#ed1c24;}
.promotion_popup .left{width:392px; float:left;}
.promotion_popup .left img{border:1px #cfcfcf solid;}
.promotion_popup p{line-height:18px;}
.open_promotion img {
    border: 1px solid #e1e1e1;
}
.scroll_viewport{float:left; position: relative; overflow: hidden;}
.scroll_content{float:left;}
.scrollbar{float:left; width:9px; margin:0 0 0 11px; background:#CCC;}
.scrollbar a{display:block; width:9px; background:#db181f;}
.viewmap{display:inline-block; background:url(../images/arrow_readmore_red.png) right center no-repeat; padding:0 10px 0 0; margin:5px 0 0 0; color:#ed1c24; font-weight:700; border-bottom:1px #FFF solid;}
.pro-value{color: red;font-size: 15px;}
.form-template1 td{padding:5px; line-height:30px;}
.form-template1 input[type="text"]{width:310px; height:20px; padding:5px 8px; border:1px #dbdbdb solid;}
.form-template1 select{width:320px; height:30px; padding:5px 8px; border:1px #dbdbdb solid;}
.form-template1 .captcha input{width:175px; float:left;}
.form-template1 .captcha img{float:left;}
.form-template1 textarea{width:310px; height:130px; padding:5px; border:1px #dbdbdb solid;}
.form-template1 tr td:first-child{padding-right:10px;vertical-align: top;}
.form-template1 tr td.nopadding{padding:0;}
.form-template1 select.form-day{width:auto; margin:0 5px 0 0;}
.form-template1 select.form-month{width:auto; margin:0 5px 0 0;}
.form-template1 select.form-year{width:auto; margin:0 5px 0 0;}
.form-template1 select.form-hour{width:auto; margin:0 5px 0 0;}
.form-template1 select.form-min{width:auto; margin:0 5px 0 0;}
.form-template1 input[type="text"].form-cardno{width:50px; margin:0 5px 0 0;}
.form-template1 input[type="text"].form-phoneno{width:150px; margin:0 5px 0 0;}
.form-template1 input[type="text"].form-phoneno.part0{width:30px; margin:0 5px 0 0;}
.form-template1 input[type="text"].form-datepicker{width:100px;}

/* list 1 dòng ko có time hay cột  bên phải */
.entries1-type1{clear:both; margin:0; list-style:none; padding:15px 0 20px 0;}
.entries1-type1 > li{padding:20px 0; border-bottom:1px #cecece dashed; display:block; float: left; width: 100%}
.entries1-type1 > li:first-child{padding:0 0 20px 0;}
.entries1-type1 > li img{float:left; width:160px;border: 1px solid #e1e1e1;}
.entries1-type1 > li .description{width:528px;  float:left; margin:0 0 0 17px; font-size:12px;}
.entries1-type1 > li .description h2{padding:0; margin:0  0 5px; font-size:16px;}
.entries1-type1 > li .description em{color:#221f20; display:block; padding:3px 0 0 0;}
.entries1-type1 > li .description p{ margin: 5px 0 10px;}
.entries1-type1 > li .description strong{font-size:18px; color:#ed1c24;}
.entries1-type1 > li .description .readmore{color:#ed1c24; background:url(../images/arrow_readmore_red.png) right center no-repeat; padding:0 12px 0 0; display:inline-block;}

/* list 1 dòng có time chạy bên phải */
.entries1-type2{clear:both; margin:0; list-style:none; padding:45px 0 20px 0;}
.entries1-type2 > li{float:left; width: 100%; padding:20px 0; border-bottom:1px #cecece dashed; display:block;}
.entries1-type2 > li:first-child{padding:0 0 20px 0;}
.entries1-type2 > li img{float:left; width:160px;border: 1px solid #e1e1e1;}
.entries1-type2 > li .description{width:320px; float:left; margin:0 0 0 17px; font-size:12px;}
.entries1-type2 > li .description h2{padding:0; margin:0; font-size:16px;}
.entries1-type2 > li .description em{color:#ed1c24; display:block; padding:3px 0 0 0;}
.entries1-type2 > li .description ul{list-style-image:url(../images/bullet3.gif); padding:5px 0 5px 8px; margin:0 0 0 8px; /*min-height:56px;*/}
.entries1-type2 > li .description strong{font-size:18px; color:#ed1c24;}
.entries1-type2 > li .description .readmore{color:#ed1c24; background:url(../images/arrow_readmore_red.png) right center no-repeat; padding:0 12px 0 0; display:inline-block;}
.entries1-type2 > li .countdown{width:130px; height:65px; float:right; background:url(../images/icon_clock.gif) 20px center no-repeat #f2f2f2; padding:15px 10px 15px 66px; font-weight:700;}
.entries1-type2 > li .countdown .digits span{display:inline-block; background:url(../images/digit_bg.gif); width:37px; height:27px; text-align:center; line-height:27px; color:#FFF; font-size:20px; margin:5px 0 0 0;}
.entries1-type2 > li .countdown .labels span{display:inline-block; width:37px; text-align:center; padding:5px 0 0 0; font-weight:400; font-style:italic;}

/* list 1 dòng, có thêm cột quảng cáo bên phải*/
.entries1-type3{clear:both; margin:0; list-style:none; padding:15px 0 20px 0;}
.entries1-type3 > li{float: left; padding:20px 0; border-bottom:1px #cecece dashed; display:block;}
.entries1-type3 > li:first-child{padding:0 0 20px 0;}
.entries1-type3 > li img{float:left; max-width:180px; border: 1px solid #e1e1e1;}
.entries1-type3 > li .description{width:268px; float:left; margin:0 0 0 15px; font-size:12px;}
.entries1-type3 > li .description h2{padding:0; margin:0  0 5px; font-size:15px; font-weight: normal;}
.entries1-type3 > li .description em{color:#221f20; display:block; padding:3px 0 0 0;}
.entries1-type3 > li .description p{ margin: 5px 0 10px;}
.entries1-type3 > li .description strong{font-size:18px; color:#ed1c24;}
.entries1-type3 > li .description .readmore{color:#ed1c24; background:url(../images/arrow_readmore_red.png) right center no-repeat; padding:0 12px 0 0; display:inline-block;}
.entries1-type3 .download {margin-top: 5px;}
.entries1-type3  .download a { color: #ED1C24;display: inline-block;margin-right: 7px;}
.entries1-type3  .download img { margin-left: 3px; position: relative; top: 3px;float: none !important;border: none !important;}
.priority .entries1-type3 > li img{border-bottom: solid 4px #ba131d;}


.entries3 {width: 720px; list-style-type: none; margin: 0;padding: 0; overflow: hidden;}
.entries3 li{width: 768px; border-top: 1px dashed #CECECE; padding: 25px 0 20px;float: left;}
.entries3 li:first-child{padding-top: 10px;border: none;}
.entries3 li h2{font-size: 16px; font-weight: normal; margin-bottom: 0;}
.entries3 li .item{width: 210px;margin-right: 40px;float: left;}
.entries3 li .description{margin-top: 7px;margin-bottom: 10px;color: #505050;}
.entries3 .readmore { background: url("../images/arrow_readmore_red.png") no-repeat scroll right center rgba(0, 0, 0, 0);color: #ED1C24;display: inline-block; padding: 0 12px 0 0;}
.entries3 li img{ border: 1px solid #e1e1e1;}
/*.entries3 li a img{width: 210px}*/


/*=====2 cột, không có cột quảng cáo bên phải==========*/
.entries2{width: 768px;list-style-type: none;margin: 0;padding: 0;}
.entries2 li{width: 100%;border-top: 1px dashed #CECECE; padding: 25px 0 20px;float: left;}
.entries2 li:first-child{padding-top: 10px;border: none;}
.entries2 li h2{font-size: 16px;font-weight: normal;margin-bottom: 0;}
.entries2 li .item{width: 330px;margin-right: 42px;float: left;}
.entries2 li .description{margin-top: 7px;margin-bottom: 10px;color: #505050;}
.entries2 .readmore { background: url("../images/arrow_readmore_red.png") no-repeat scroll right center rgba(0, 0, 0, 0);color: #ED1C24;display: inline-block; padding: 0 12px 0 0;}
.entries2 li img{ border: 1px solid #e1e1e1;}
/*.entries3 li a img{width: 334px}*/

/*=====2 cột, Có cột quảng cáo bên phải==========*/
.entries2-type1 {width: 510px;list-style-type: none;margin: 0;padding: 0;}
.entries2-type1 li{width: 100%;border-top: 1px dashed #CECECE; padding: 25px 0 20px;float: left;}
.entries2-type1 li:first-child{padding-top: 10px;border: none;}
.entries2-type1 li h2{font-size: 16px;font-weight: normal;margin-bottom: 0;}
.entries2-type1 li .item{width: 210px;margin-right: 44px;float: left;}
.entries2-type1 li .description{margin-top: 7px;margin-bottom: 10px;color: #505050;}
.entries2-type1 .readmore { background: url("../images/arrow_readmore_red.png") no-repeat scroll right center rgba(0, 0, 0, 0);color: #ED1C24;display: inline-block; padding: 0 12px 0 0;}
 .entries2-type1 li img {width: 210px;height: 90px;border: 1px solid #e1e1e1;}

/*Article*/
.wrapper-article{list-style-type: none; padding: 0; margin: 0;margin-top: -12px;}
.wrapper-article .titleShowArticle {background: url("../images/iconShowArticle.png") no-repeat scroll left 6px; padding-left: 15px; font-size: 16px;}
.wrapper-article .titleHideArticle {background: url("../images/iconHideArticle.png") no-repeat scroll left 6px; padding-left: 15px; font-size: 16px;}
    .wrapper-article .titleShowArticle a {color: #ed1c24}
.wrapper-article > li:first-child .description-article{ display: block;}
.wrapper-article.exchange > li:first-child .description-article{ display: none;}
.wrapper-article .article{margin: 0;padding: 0;}
.wrapper-article .article > li{margin-bottom: 10px;list-style-type: disc;}
.wrapper-article .article h3{margin: 0 0 5px; padding: 0;font-size: 14px;}
.wrapper-article .article h4{margin: 10px 0 5px;padding: 0;font-size: 12px;}
.wrapper-article .description-article{background-color: #F9F9F9;border: 2px solid #F2F2F2;padding: 15px 25px;display: none;}

/*relation news*/

.new-relation1 .news-left{width: 310px;	border-right: 1px dashed #CECECE; margin-top: 18px; float: left;}
.new-relation1 .news-left h3{width: 100%;float: left;font-size: 16px;margin-top: 0;}
.new-relation1 .news-left ul{list-style-type: none;margin: 0;padding: 0;float: left;}
.new-relation1 .news-left ul li{float: left;width: 100%;margin-bottom: 20px;}
.new-relation1 .news-left .img-news{float: left;}
.new-relation1 .news-left .description{width: 190px;float: left;margin-left: 11px;font-size: 13px;}	
.new-relation1 .news-right{width: 384px;margin-top: 18px;float: right;}
.new-relation1 .news-right h3{width: 100%;float: left;font-size: 16px;margin-top: 0;}
.new-relation1 .news-right ul{list-style-type: none;margin: 0;padding: 0;float: left;}
.new-relation1 .news-right ul li{float: left;width: 100%;margin-bottom: 20px;}	
.new-relation1 .news-right .img-news{float: left;}
.new-relation1 .news-right .description{width: 278px;float: left;margin-left: 11px;font-size: 13px;}
.img-news{ border: 1px solid #e1e1e1;}
.new-relation2{ clear: both;}
.new-relation2 .title-other-news{font-size: 16px;margin: 15px 0 15px;}
.new-relation2 .other-news{margin: 0;padding-left: 14px;list-style-type: disc;}
.new-relation2 .other-news li{font-weight: bold;margin-bottom: 12px;}
.new-relation2 .other-news li span{font-weight: normal;color: #373737;font-style: italic;}
.generated_form p {
    padding:0;
    margin:0;
    display:inline-block;

}
.generated_form .required {
    color: #F00;
}

.caption-tool {
    color: #333333;
    font-size: 13px;
    font-weight: 700;
    line-height: 28px;
    margin: 23px 0 0;
    position: relative;
    text-align: center;
    background-color: #CCCCCC;
	width: 100%;
	display: table;
	vertical-align: middle;
    padding:1px 0 2px 0;
}
.caption-tool span
{
	float: left;
	margin-left: 12px;
}
.toolUtilities {margin: 0; padding: 0; list-style-type: none; background-color: #eaeaea; padding-top: 3px; border-left: solid 1px #d5d4d4; border-right: solid 1px #d5d4d4; display: none; overflow: hidden; position: relative;background-color: #FFFFFF;}
.toolUtilities.active { display:block}
.toolUtilities li {position: relative;padding:2px 3px 2px 15px; width: 185px; font-size: 15px; border-bottom: solid 1px #d5d4d4; display: table; float: left;}
.toolUtilities li .icon{display: table-cell; vertical-align: middle; padding-right: 7px;}
.toolUtilities li .toolDescription{padding-top: 7px; padding-bottom: 7px; display: table-cell; width: 155px;}
.toolUtilities li .icon2{display: none;}
.toolUtilities li .icon1 {display: block;}
/* hack css ie7 */
*+html .toolUtilities li .icon
{
	float: left;
	position: relative;
	top: 50%;
	padding-top: 3px;
}


*+html .toolUtilities li .icon img
{
	position: relative;
	top: -50%;
}

.toolUtilities li.selected .icon2, .toolUtilities li.hover .icon2{display: block;}
.toolUtilities li.selected .icon1, .toolUtilities li.hover .icon1{display: none;}

.tool-rates{background: url("../images/icon-tool-rates.jpg") no-repeat 13px center;}
.tool-rates.selected , .tool-rates.hover{background: url("../images/icon-tool-rates-selected.jpg") no-repeat 13px center;}

/*
.tool-interest {background: url("../images/icon-tool-interest.jpg") no-repeat 13px center;}
.tool-interest.selected, .tool-interest.hover {background: url("../images/icon-tool-interest-selected.jpg") no-repeat 13px center;}
.tool-fee {background: url("../images/icon-tool-fee.jpg") no-repeat 13px center;}
.tool-fee.selected, .tool-fee.hover {background: url("../images/icon-tool-fee-selected.jpg") no-repeat 13px center;}
.tool-calc {background: url("../images/icon-tool-calc.jpg") no-repeat 13px center;}
.tool-calc.selected, .tool-calc.hover {background: url("../images/icon-tool-calc-selected.jpg") no-repeat 13px center;}
*/
.toolUtilities li.selected a, .toolUtilities li.hover a { color: #ed1c24;}


.expand-tools {
   cursor: pointer;
   position: absolute;
   top: 12px;
   width: 10px;
   height: 10px;
   right: 10px;
   *top: 12px;	
}

.expand-tools img
{
	position: absolute;
}

.expand-newsletter {
    cursor: pointer;
    float: right;
   margin-right: 5px;
}

*+html .expand-newsletter
{
    margin-top: 15px;
}

.newsletter {
    background-color: #fff;
 /*   border-left: 1px solid #D5D4D4;
    border-right: 1px solid #D5D4D4;*/
    display: none;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 3px 0 0;
}

.toolUtilities.active {
    display: block;
}

    .newsletter li {
        padding: 5px 5px 7px;
        border-top: 1px solid #FAFAFA;
    }

        .newsletter li:first-child {
            border: none;
        }
        .newsletter li a {
            display: inline-block;
            font-size: 14px;
        }

            .newsletter li a:hover {
                color: #ED1C24;
            }

.vertical-tab-head .item-tab{background-color: #e2e2e2;height: 34px;line-height: 34px;position: relative;}
.vertical-tab-head .item-tab a{display: block;}
.vertical-tab-head{margin-top: 10px; position: relative; z-index: 20;}
.vertical-tab-head .selected{background-color: #ba131d;}
.vertical-tab-head .arrow{display: none;}
.vertical-tab-head .selected .arrow{position: absolute;bottom: -19px;left: 45%; z-index: 5; display: block;}
.vertical-tab-head a{ color: #4b4b4b; font-size: 15px; font-weight: bold;}
.vertical-tab-head .selected a{color: #ffffff;}
.vertical-tab-body{display: none;border: solid 1px #dfdfdf;position: relative;top: -8px;margin-left: 1px;padding: 10px;background-color: #f9f9f9;}
.vertical-tab-body h3{color: #ba131d;font-weight: normal;font-size: 16px;margin-top: 5px;margin-bottom: 5px;}
.vertical-tab-body h4{font-size: 14px;margin-top: 10px;margin-bottom: 10px;}
.vertical-tab-body ul{margin: 0;padding: 0;padding-left: 15px;list-style-image: url(../images/bullet3.gif);}
.vertical-tab-body ul li{margin-bottom: 9px;}
.vertical-tab-head1{display: block;}

*+html .vertical-tab-head .selected .arrow {
    bottom: -6px;
}
/*advertise*/

.advertise {
    background-color: #F9F9F9;
    border: 1px solid #D9D9D9;
    margin: 10px 0 20px;
    text-align: center;
}
.advertise .content {
    padding: 20px 20px 10px;
}
.advertise h2 {
    background-color: #E2E2E2;
    color: #333333;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.advertise p {
    font-size: 15px;
    margin-top: 7px;
    text-align: left;
}
.priority .advertise p {
	text-align: center !important;
}

.advertise .button {
    margin-bottom: 10px;
    text-align: center;
    width: 130px;
}

.advertise .hotline {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    line-height: 160%;
    margin-top: 8px;
    text-align: center;
}

.advertise .hotline h3 {
    font-size: 12px;
    margin-bottom: 5px;
}

.advertise .hotline span {
    color: #ED1C24;
    font-size: 15px;
    padding-top: 3px;
    text-transform: uppercase;
}
/*end advertise*/

.content2-column {float: left;width: 100%;overflow: hidden;margin-top: 10px;}
.column-content-left {float: left;overflow: hidden; width: 466px;}
.column-content-right {float: right;width: 223px;}

/*==============Nivo slider ==============*/

.priority .nivoSlider{border-bottom: 4px solid #BA131D;}

.theme-default .nivoSlider {position: relative; background:#fff url(../images/loading.gif) no-repeat 50% 50%; margin-bottom:10px; z-index: 1;}
.theme-default .nivoSlider img {position:absolute; top:0px; left:0px;display:none;}
.theme-default .nivoSlider a {border:0;display:block;}
.theme-default .nivo-controlNav {text-align: center;position: absolute;z-index: 5;bottom: 10px;right: 12px;*bottom: 20px;}
.theme-default .nivo-controlNav a {display:inline-block;width:13px;height:13px;background:url(../images/bullets2.png) no-repeat 0 1px;text-indent:-9999px;border:0;margin: 0 2px;zoom: 1;*display: block;float: left;}


.theme-default .nivo-controlNav a.active {
	background-position:0 -12px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
label.error {
    background: url("../images/icon-error.ico") no-repeat scroll left center/10px 10px rgba(0, 0, 0, 0);
    line-height:32px;
    height:32px;
    padding:0px 10px 0px 15px;
    display:inline-block;
    position:absolute;
    color:red;
    margin:0 0 0 5px;
}
div.error, div.captcha-error {
    background: url("../images/icon-error.ico") no-repeat scroll left center/10px 10px rgba(0, 0, 0, 0);
    line-height:32px;
    padding:0px 10px 0px 15px;
    color:red;
    margin:0 0 0 5px;
    width: 100%;
}
.advertiseLeft{ margin-top: 22px;}


/*box right 1*/
.advertise-box1{padding: 10px 20px 20px;text-align: center;}
.advertise-box1 h2{color: #ED1C24;font-size: 16px;margin: 0;padding: 0;text-align: left; background: none; height: auto; line-height: normal}
.advertise-box1 p{font-size: 15px;margin-top: 7px;text-align: left;}
.advertise-box1 .button{margin-bottom: 10px;width: 130px;text-align: center;}
.advertise-box1 .hotline {color: #333333;font-size: 12px;font-weight: bold;line-height: 160%;margin-top: 8px;text-align: center;}
.advertise-box1 .hotline h3{font-size: 12px;margin-bottom: 5px;}
.advertise-box1 .hotline span{color: #ED1C24;font-size: 15px;padding-top: 3px;text-transform: uppercase;}
.advertise-box1 .readmoreAds{text-align: left;margin-top: 15px;}
.advertise-box1 .readmoreAds a{background: url("../images/arrow_readmore_red.png") no-repeat scroll right center;color: #ED1C24;display: inline-block;padding: 0 12px 0 0;font-weight: bold;}


.priority .download a {
    color: #ED1C24;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    margin-right: 7px;
}

.priority .download img {
    margin-left: 3px;
    position: relative;
    top: 3px;
}

/*box-left newsletter*/
.column_left .newletter_box 
{
	padding: 8px;
	font-size: 14px;
	text-align: center;
	border: 1px #e0dfdf solid;
	border-top: none;	
}
.column_left .newletter_box div
{
	text-align: left;
	padding-bottom:10px;
}
.text-ac{ text-align: center;}
.highlight{ color: #ED1C24;}


/* MESSAGES --------------------------------------------------------------- */
#message-yellow
{
    margin-bottom: 5px;
}

.yellow-left
{
    background: url(../../areas/admin/images/table/message_yellow.gif) top left no-repeat;
    color: #e79300;
    font-family: Tahoma;
    font-weight: bold;
    padding: 0 0 0 20px;
}

    .yellow-left a
    {
        color: #e79300;
        font-family: Tahoma;
        font-weight: normal;
        text-decoration: underline;
    }

.yellow-right a
{
    cursor: pointer;
}

.yellow-right
{
    width: 55px;
    padding: 0 !important;
}

#message-blue
{
    margin-bottom: 5px;
}

.blue-left
{
    background: url(../../areas/admin/images/table/message_blue.gif) top left no-repeat;
    color: #2e74b2;
    font-family: Tahoma;
    font-weight: bold;
    padding: 0 0 0 20px;
}

    .blue-left a
    {
        color: #2e74b2;
        font-family: Tahoma;
        font-weight: normal;
        text-decoration: underline;
    }

.blue-right a
{
    cursor: pointer;
}

.blue-right
{
    width: 55px;
}

#message-red
{
    margin-bottom: 5px;
}

.red-left
{
    background: url(https://techcombank.com.vn/areas/admin/images/table/message_red.gif) top left no-repeat;
    color: #ce2700;
    font-family: Tahoma;
    font-weight: bold;
    padding: 0 0 0 20px;
}

    .red-left a
    {
        color: #ce2700;
        font-family: Tahoma;
        font-weight: normal;
        text-decoration: underline;
    }

.red-right a
{
    cursor: pointer;
}

.red-right
{
    width: 55px;
}

#message-green
{
    margin-bottom: 5px;
}

.green-left
{
    background: url(https://techcombank.com.vn/areas/admin/images/table/message_green.gif) top left no-repeat;
    color: #6da827;
    font-family: Tahoma;
    font-weight: bold;
    line-height: 12px;
    padding: 0 0 0 20px;
}

    .green-left a
    {
        color: #6da827;
        font-family: Tahoma;
        font-weight: normal;
        text-decoration: underline;
    }

.green-right a
{
    cursor: pointer;
}

.green-right
{
    width: 55px;
}
.publishtime{font-size: 11px;font-style: italic;}
.paging .show{ display: block !important;}
.paging .hide{ display: none !important;}
.queryform{ padding: 0 !important;}
.queryform .close{ top: 10px !important}
.red em{ color: #ED1C24 !important;}
.generated_form{ background-color: #F9F9F9; border: 1px solid #DFDFDF}

.fr{ float: right;}
.fl{ float: left;}

.bt_favorite, .bt_favorited, .bt-remove-favorite
    {
        color: red;
        background: url('https://techcombank.com.vn/content/images/ico_favorite.gif') left no-repeat;
        padding: 10px 0;
        padding-left: 35px;
        float: left;
        cursor: pointer;
        font-weight: bold;
    }
    .bt-remove-favorite {
        background: url('https://techcombank.com.vn/content/images/remove_favorite.png') left no-repeat;
        background-size: 24px;
    }
    .bt_favorited
    {
        color: #696969;
    }

    .downloadable {
        list-style: none;
        padding: 0;
        margin:0;
    }
    .downloadable li {
        text-decoration: none;
        margin: 20px 0;
        font-weight: bold;
    }


    /*****  FIX CHROME VER 39 ****/
    .caption-tool a, .button, .caption span{ white-space: nowrap;}

.updating { font-size: 14px; font-weight: bold; margin: 50px 0 0; }