﻿@charset "UTF-8";
/* CSS Document */

.atm-branches-list select, .atm-branches-list input[type="text"] {
    font-size: 12px;
}
.atm-branches-list h1
{
	font-size: 22px;
    font-weight: 400;
}

.atm-branches-list .tblSearch
{
	border-collapse: collapse;
}

.atm-branches-list .tblSearch td
{
	line-height: 140%;
	padding: 6px 5px;
}

.atm-branches-list .keyword
{
	width: 360px;
	height: 18px;
	padding: 5px;
	border: 1px solid #dbdbdb;
	line-height: 18px;
}

.atm-branches-list .search-position
{
	float: left;
	width: 500px;
	height: 205px;
	border: 1px solid #dbdbdb;
	padding-left: 13px;
	margin-top: 10px;
	background-color: #f9f9f9;
}
.search-position h3 {
    margin-top: 8px;
    font-size: 14px;
}
.atm-branches-list .ddlCity
{
	width: 127px;
	border: 1px solid #dbdbdb;
	height: 25px;
	line-height: 25px;
	padding: 4px;
}

.atm-branches-list .ddlDistrict
{
	width: 146px;
	border: 1px solid #dbdbdb;
	height: 25px;
	line-height: 25px;
	padding: 4px;
	font-weight: bold;
}

.atm-branches-list .btnSearch {
    background: url("../images/btn-search.jpg") no-repeat scroll 0 0;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    width: 114px;
}

.atm-branches-list .text-name
{
	font-weight: bold;
	font-size: 12px;
	margin-right: 8px;
}


.atm-branches-list .advertise {
    width: 180px;
    float: right;
    margin: 10px 0 0;
    height: 205px;
}



.atm-branches-list .content-entries
{
	clear: both;
	overflow: hidden;
	padding: 0 0 20px;
}

    .atm-branches-list .content-entries h2 {
        font-size: 16px;
        padding: 10px 0;
        font-weight: normal;
        border-bottom: solid 1px #CECECE;
    }

.atm-branches-list .entries
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.atm-branches-list .entries li
{
	border-bottom: 1px dashed #cecece;
	float: left;
	width: 710px;
	padding: 20px 0 15px;
	
}

.atm-branches-list .entries li .title-entries
{
	float: left;
	width: 205px;
}

.atm-branches-list .entries li h3
{
	font-size: 14px;
	margin-top: 0;
}

.atm-branches-list .entries li h3 span
{
	font-weight: normal;
    float: left;
    margin-right: 3px;
    display: block;
}


.atm-branches-list .entries li h3 div
{
	
    float: left;
   width: 170px;
}

.atm-branches-list .entries li .icon-list-atm
{
    float: left;
    margin: 10px 0 0 17px;
}

.atm-branches-list .entries li .icon-list-atm img
{
	margin-right: 5px;
}

.atm-branches-list .entries li .description
{
	float: left;
	width: 326px;
	margin-left: 53px;
}

.atm-branches-list .entries li .address
{
	color: #333333;
    margin-bottom: 10px;
}

.atm-branches-list .entries li .tel
{
	float: left;
	margin-right: 20px;
	background: url(../images/icon-tel.gif) no-repeat 0 center;
	padding-left: 23px;
}

.atm-branches-list .entries li .fax
{
	float: left;
	background: url(../images/icon-fax.gif) no-repeat 0 center;
	padding-left: 23px;

}

.atm-branches-list .entries li .timer 
{
    background: url("../images/timer-shadow.jpg") no-repeat scroll 0 0;
    float: left;
    font-style: italic;
    margin-top: 9px;
    padding: 3px 0 0 30px;
	line-height: 150%;
	min-height: 22px;
    clear: both;
}

.atm-branches-list .entries li .view-map
{
	float: right;
	width: 100px;
	display: table;
	vertical-align: middle;
	height: 70px;
	text-align: right;
}

.atm-branches-list .entries li .view-map div
{
	display: table-cell;
	vertical-align: middle;
}

.atm-branches-list .entries li .timer div
{
	float: left;
    
}
.atm-branches-list .entries li .timer  p
{
	float: left; 
	margin: 0 0 0 5px;
    width: 220px;
    display: block;
}

    * + html .atm-branches-list .entries li .timer p {
        float: none;
    }

.atm-branches-list .entries li .view-map a
{
	background: url(../images/arrow_readmore_red.png) no-repeat right center;
	padding-right: 15px;
	color: #ed1c24;
}