﻿@charset "UTF-8";
/* CSS Document */

body
{
	color: #333333;
	font-family: Arial;
    font-size: 12px;
    margin: 0;
}

.body-popup
{
	overflow-x: hidden;
}

img
{
	border: 0;
}

a, object
{
	outline: none;
}

.wrapper-pop
{
	width: 495px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.wrapper-pop .header
{
	margin: auto;
    padding: 11px 0 0;
 	border-bottom: solid 2px #ed1c24;
}

.wrapper-pop .header h1
{
	margin: 5px 0;
}

.wrapper-pop .wrapper-content h1
{
	font-size: 17px;
	background: #f5f5f5;
	border: solid 1px #eaeaea;
	padding: 14px;
	margin-top: 3px;
}

.wrapper-pop .wrapper-content ul
{
	list-style-type: disc;
	
	padding: 0 0 0 13px ;
	margin: 0;
}

.wrapper-pop .wrapper-content ul li
{
	margin-bottom: 10px;
	
}

.wrapper-pop .wrapper-content ul li a
{
	color: #333333;
	font-size: 12px;
	text-decoration: none;
}

.wrapper-pop .wrapper-content ul li a:hover, .wrapper-pop .wrapper-content ul li a .select
{
	color: #ed1c24;
	text-decoration: underline;
}

.wrapper-pop .line-bar 
{
    border-bottom: 1px dashed #CECECE;
    clear: both;
    height: 5px;
    margin-bottom: 10px;
}

.wrapper-pop  h3
{
	margin-bottom: 10px;
	
}

.wrapper-pop  p
{
	margin-top: 8px;
}

.terms-conditions
{
	position: relative;
    height: 847px;
}

.terms-conditions .slides
{
	position: absolute !important;
	width: 100%;
	height: 100% !important;
	top: 0;
    left: 0;
    z-index: 20;
}


.terms-conditions .page
{
	z-index: 5;
	background: none;
	border: none;
    margin:auto;
}

.terms-conditions .column_left
{
	background: url(../images/bgMenuLeftHome.png) repeat 0 0 transparent;
	margin: 20px 0 10px;
	padding: 0 15px 15px;
	width: 205px;
    z-index: 60;
    position: relative;
}

    .terms-conditions .login_box {
        background: none;
        padding: 5px 0 0;
        margin-top: 6px;
    }


.terms-conditions .container
{
	position: relative;
	z-index: 100;
	margin: auto;
	width: 998px;
	text-align: right;
}

.terms-conditions .container h1
{
	color: #454444;
	font-size: 26px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.terms-conditions .container p
{
	color: #ed1c24;
	font-size: 25px;
	margin-top: 0;
}


/*============slider==========================*/
#slides 
{
  position: relative;
}
#slides .slides-container {
  display: none;
}

#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  text-align: center;
 left: 60%
}


.slides-pagination a.current {
    background-position: 0 -21px;
}

.slides-pagination a {
    background: url("../images/bullets.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline-block;
    height: 21px;
    margin: 0 2px;
    overflow: hidden;
    text-indent: -9999px;
    width: 21px;
    float: left;
}

*+html .slides-pagination a {
    float: left;
    display: block;
}
