﻿@charset "UTF-8";
/* CSS Document */
.BODbox{border: 0; border-left: 6px solid #d71111}
.about-management{ clear: both; }
.about-management h1 
{
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 0px 0px 20px 0;
}

.about-management .about-us
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 740px;
}

.about-management .about-us > li
{
	float: left;
	text-align: center;
	width: 155px;
	height: 175px;
	margin: 0 28px 10px 0;
}

.about-management .about-us .first-item
{
	float: none  !important;
	margin: auto !important;
	clear: both;
	position: relative;
	left: -16px;
	padding-bottom: 10px;
}

.about-management .about-us > li:first-child
{
	float: none  !important;
	margin: 0 auto;
	clear: both;
	position: relative;
	left: -16px;
}

.about-management .about-us .img-management
{
	width: 153px;
	border: solid 1px #ededed;
}

.img-management img
{
	border-bottom:solid 3px #ed1c24 !important;
}

.about-management .about-us > li h3
{
	font-size: 12px;
	margin-bottom: 3px;
}

.about-management .about-us > li h3 span
{
	font-weight: normal;
	font-style: italic;
}

.about-management .about-us > li p
{
	margin: 0;
}

.about-management .popup
{
	border: none;
	border-left: solid 10px #ed1c24;
	padding: 15px;
    position: fixed;
    z-index: 101;
}

.about-management .popup .img-popup
{
	float: left;
	margin-right: 15px;
}

.about-management .popup p
{
	line-height: 150%;
}

.about-management .popup .scroll_area
{
	width: 720px;
	margin: 25px auto;
}

.about-management .popup .scroll_content
{
	width: 680px !important;

	float: left;
}

.about-management .popup .scroll_viewport
{
	width: 700px !important;
}

.about-management .popup .scroll_content h2
{
	font-size: 16px;
	margin: 0 8px 0;
}

.about-management .popup .scroll_content h2 span
{
	font-style: italic;
	font-weight: normal;
}

.about-management .popup .scroll_content h3
{
	font-size: 14px;
	font-style: italic;
	margin: 8px 0;
}

.about-management .row {
    text-align: center;
    margin: 0 0 10px;
}

    .about-management .row .item {
        zoom: 1;
        display: inline-block;
        margin: 0 5px;
        vertical-align: top;
        min-height: 160px;
        min-width: 155px;
    }