﻿@{
    ViewBag.Title = "UploadLoanForm";
    Layout = "~/Views/Shared/_LayoutLoanRegistration.cshtml";
}

@using (Html.BeginForm("UploadLoanImage", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h1>Thủ tục vay vốn</h1>
    <p><font color="red">Vui lòng  cung cấp hình ảnh chứng thức tài sản thế chấp. Hình ảnh càng cụ thể, chi tiết càng có khả năng được cho vay</font></p>
    <p><font color="red">Vui lòng  cung cấp hình ảnh chứng thức tài sản thế chấp. Hình ảnh càng cụ thể, chi tiết càng có khả năng được cho vay</font></p>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <table class="generated_form form-template1" border="0" cellpadding="0" cellspacing="0" style="padding-left: 15px;">
        <tbody>
            <tr data-indentparagraph="False">
                <td>
                    Hình chứng thực thứ nhất<span class="required" aria-required="true">*</span>
                </td>
                <td>
                    <input type="file" name="files" id="file1" />
                </td>
            </tr>


            <tr data-indentparagraph="False">
                <td>
                    Hình chứng thực thứ nhất<span class="required" aria-required="true">*</span>
                </td>
                <td>
                    <input type="file" name="files" id="file2" />
                </td>
            </tr>


            <tr data-indentparagraph="False" class="">
                <td>
                    Hình chứng thực thứ ba<span class="required" aria-required="true">*</span>
                </td>
                <td>
                    <input type="file" name="files" id="file3" />
                </td>
            </tr>
            <tr>
                <td valign="top"></td>
                <td>
                    <input type="submit" class="button" value="Hoàn tất đăng ký">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="clear"></div>
    <div class="clear"></div>
}
