﻿@{
    ViewBag.Title = "UploadRemittanceForm";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@using (Html.BeginForm("UploadRemittanceImage", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="column_middle">

        <h1>Chuyển tiền quốc tế</h1>
        <p>Quý khách vui lòng nhập đầy đủ thông tin theo các bước trong đơn đăng ký dịch vụ</p>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="clear"></div>
        <table class="generated_form form-template1" border="0" cellpadding="0" cellspacing="0" style="padding-left: 15px;">
            <tbody>
                <tr data-indentparagraph="False">
                    <td>
                        <label for="file1">Hình thứ nhất:</label>
                    </td>
                    <td>
                        <input type="file" name="files" id="file1" />
                    </td>
                </tr>
                <tr data-indentparagraph="False">
                    <td>
                        <label for="file2">Hình thứ hai:</label>
                    </td>
                    <td>
                        <input type="file" name="files" id="file2" />
                    </td>
                </tr>
                <tr>
                    <td valign="top"></td>
                    <td>
                        <input type="submit" class="button" value="Cập nhật hình ảnh và kết thúc giao dịch">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clear"></div>
        <div class="clear"></div>
    </div>

}